USE [master]
GO
/****** Object:  Database [TrainingSystem]    Script Date: 11/14/2022 9:32:16 PM ******/
CREATE DATABASE [TrainingSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TrainingSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TrainingSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TrainingSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TrainingSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TrainingSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TrainingSystem]
GO
/****** Object:  Table [dbo].[KhoaHoc]    Script Date: 11/14/2022 9:32:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoaHoc](
	[MaKhoaHoc] [int] NOT NULL,
	[TenKhoaHoc] [nvarchar](100) NULL,
	[MaNHD] [int] NULL,
 CONSTRAINT [PK_KhoaHoc] PRIMARY KEY CLUSTERED 
(
	[MaKhoaHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiHuongDan]    Script Date: 11/14/2022 9:32:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiHuongDan](
	[MaNHD] [int] NOT NULL,
	[TenNHD] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHD] PRIMARY KEY CLUSTERED 
(
	[MaNHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KhoaHoc]  WITH CHECK ADD  CONSTRAINT [FK_KhoaHoc_NHD] FOREIGN KEY([MaNHD])
REFERENCES [dbo].[NguoiHuongDan] ([MaNHD])
GO
ALTER TABLE [dbo].[KhoaHoc] CHECK CONSTRAINT [FK_KhoaHoc_NHD]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllKhoaHoc]    Script Date: 11/14/2022 9:32:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_GetAllKhoaHoc]
as
begin
	select MaKhoaHoc, TenKhoaHoc,[TenNHD] from KhoaHoc kh WITH(nolock) join [NguoiHuongDan] nhd on kh.MaNHD = nhd.MaNHD 
end
GO
USE [master]
GO
