@{
    ViewData["Title"] = "login";
}
<!DOCTYPE html>
<style>
    .heading {
        background-color: #666;
        padding: 30px;
        text-align: center;
        font-size: 35px;
        color: white;
    }

    .label {
        margin: 10px 20px 20px 100px;
        padding: 50px;
        text-align: center;
    }
</style>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training System</title>
</head>
<body>
    <h1 class="heading">Training System</h1>
    <div class="text-center">
        <label for="username"><b>Tên đăng nhập:</b></label>
        <input type="text" id="username" name="username" /><br />
        <label for="password" style="margin-left:43px"><b>Mật khẩu:</b></label>
        <input type="password" id="password" name="password" style="margin:20px 20px 0px 20px"><br />
        <input type="submit"
               value="Đăng nhập"
               style="margin-top:20px;margin-bottom: 20px" /><br />
        <a style="color: blue; margin-top:40px"><u>Quên mật khẩu</u></a>
    </div>
</body>
</html>

